<h1>Stupid coaching</h1>
<br>
<br>
<br>
<%= @question %>
<p>-You</p>

<br>
<br>
<br>

<%= @answer %>
<p>-Your Coach</p>

<br>
<br>
<br>

<%= link_to "ask another question", "http://localhost:3000/ask" %>
